apiVersion: apps/v1
kind: Deployment
metadata:
  name: backend
spec:
  replicas: 2
  selector:
    matchLabels:
      app: backend
  template:
    metadata:
      labels:
        app: backend
    spec:
      containers:
        - name: backend
          image: my-backend:latest
          imagePullPolicy: Never
          ports:
            - containerPort: 5000
          env:
            - name: MONGO_URI
              value: "mongodb://mongodb:27017/ecommerce"
            - name: JWT_SECRET
              value: "yourSuperSecretKey"

---
apiVersion: v1
kind: Service
metadata:
  name: backend-service
spec:
  type: NodePort
  selector:
    app: backend
  ports:
    - port: 5000          # service port (inside cluster)
      targetPort: 5000    # pod port
<<<<<<< HEAD
      nodePort: 31034     # port exposed on your machine
=======
      nodePort: 31034     # port exposed on your machine
>>>>>>> e8be3ddfcdd9993b7c45e4c4fe9c0f77ccff7b74
